.skillSection {

    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
  }

  .skillSection {
    margin-bottom: 10%;
    margin-top: 5%;
    font-family: 'Roboto Slab', serif;
  }

  h1{
    margin-bottom: 2%;
  }